.user_card {
    background-color: white;
    padding: 5px 10px;
    color: #333;
   
    width: 100%;
    box-shadow: 1px 1px 3px #444;
    border-radius: 3px;
}

.user_card-name {
    font-size: 1.5rem;
    margin: .5rem 0 0;
}

.user_card-username {
    color: #808080;
    font-style: italic;
    font-size: 14px;
}

.user_card-personalinfo {
    font-size: 15px;
}
