.user_card {
    background-color: white;
    padding: 5px 10px;
    color: #333;
    width: 100%;
    box-shadow: 1px 1px 3px #444;
    border-radius: 3px;
}

.user_card-name {
    font-size: 1.5rem;
    margin: .5rem 0 0;
}

.user_card-username {
    color: #808080;
    font-style: italic;
    font-size: 14px;
}

.user_card-personalinfo {
    margin-top: 2.5em;
    font-size: 14px;
}

.user_card-personalinfo p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: .5em 0;
}

.user_card-personalinfo p i {
    width: 20px;
}
